{% extends 'tasks/base.html' %} 
{% load static %} 
{% block content %}
<h2>Add New Tasks<span class="add-emoji">➕</span></h2>
<br />
<div class="form1">
  <form method="post">
    {% csrf_token %}
    <table class="details">
      <!-- Table Items -->
      <tr>
        <td><b>Task Name</b></td>
        <td>{{form.title}}</td>
      </tr>

      <tr>
        <td><b>Description</b></td>
        <td>{{form.description}}</td>
      </tr>

      <tr>
        <td><b>Due date</b></td>
        <td>{{form.duedate}}</td>
      </tr>

      <tr>
        <td><b>Priority</b></td>
          <td>
        {{ form.priority }}
        {% if form.priority.errors %}
            {% for error in form.priority.errors %}
              {{ error }}
            {% endfor %}
        {% endif %}
      </td>
      </tr>

      <tr>
        <td><b>Status</b></td>
          <td>
          {{ form.status }}
          {% if form.status.errors %}
             {% for error in form.status.errors %}
               {{ error }}
             {% endfor %}
          {% endif %}
        </td>
      </tr>
      </td>
      </tr>
      <tr>
        {% csrf_token %}
        <td><input class="one" type="submit" /></td>
        <td><input class="two" type="reset" /></td>
      </tr>
    </table>
  </form>
</div>
<br />
<!-- Mainpage redirect link -->
<a href="{% url 'tasks:listtasks' %}" class="button5">Go to mainpage</a>
{% endblock %}
