{% extends 'tasks/base.html' %} 
{% load static %} 
{% block content %}
    <div class="frontpage">
      <form class="loginpageview" method="post">
        {% csrf_token %}
        <h2>Login</h2>
        {% if messages %}
          {% for message in messages %}
              <div class="alert1 {{ message.tags }}" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
        <!-- User Input -->
        <div class="form2-input">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Enter username"
            autocomplete="username"
            required
          />
        </div>
        <div class="form2-input">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter password"
            required
          />
        </div>
        <!-- Register new account 
        <button type="button" class="button pwd">Forgot password?</button>-->
        <div class = "container">
        <p class = 'p1'>Don't have an account?<a href="/signup/" class="register">Register</a></p></div>
        <button type="submit" class="button button7">Submit</button>
      </form>
    </div>
{% endblock %}
