{% extends 'tasks/base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
  </head>
  <body>
    <div class="frontpage">
      <form class="loginpageview" method="post">
        {% csrf_token %}
        <h2>Login</h2>
        <!-- alert condition -->
        {% if messages %} 
            {% for alert in messages %}
               <div class="alert1 {{ message.tags }}" role="alert">{{ alert }}</div>
            {% endfor %} 
        {% endif %}
        <!-- User Input -->
        <div class="form2-input">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            placeholder="Enter username"
            required
          />
        </div>
        <div class="form2-input">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter password"
            required
          />
        </div>
        <!-- Register new account -->
        <p>
          Don't have an account?<a href="/signup/" class="register">Register</a>
        </p>
        <button type="submit" class="button button7">Submit</button>
      </form>
    </div>
  </body>
</html>
{% endblock %}
