{% extends 'tasks/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
</head>
<body>
    <div class = "registerpage">
        <!-- Login form -->
        <form class = "signuppageview" method="post">
            {% csrf_token %} 
          <!-- Login heading -->
            <h2>Sign up</h2>
            <hr>
            <!-- Display error/success messages -->
              {% if messages %}
                 {% for message in messages %}
                   <div class="alert1 {{ message.tags }}" role="alert">
                      {{ message }}
                   </div>
                 {% endfor %}
              {% endif %}
            <!-- Username input field -->
            <div class="formreg-input">
                <!-- Label and input for First name -->
              <label for="fname">First name</label>
              <input type="text" id="fname" name="first_name" placeholder="Enter First name" required>
            </div>
            <div class="formreg-input">
                <!-- Label and input for last name -->
              <label for="lname">Last name</label>
              <input type="text" id="lname" name="last_name" placeholder="Enter Last name" required>
            </div>
           <div class="formreg-input">
                <!-- Label and input for username -->
              <label for="username">Username</label>
              <input type="text" id="username" name="username" placeholder="Enter username" required>
            </div>
            <!-- Password input field -->
            <div class="formreg-input">
              <!-- Label and input for password -->
              <label for="password">Password</label>
              <input type="password" id="password" name="password" placeholder="Enter password" required>
            </div>
            <!-- Link to registration page -->
            <p>Already have an account?<a href="/login/" class="login">Login</a> </p>
            <!-- Submit button -->
            <button type="submit" class="button button8">Submit</button> 
        </form>
    </div>
</body>
</html>
{% endblock %}
