<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{% url 'home' %}">📝 Task Manager</a>
            </div>
            <div class="nav-links">
                {% if user.is_authenticated %}
                    <a href="{% url 'tasks:listtasks' %}">My Tasks</a>
                    <a href="{% url 'tasks:addtasks' %}">Add Task</a>
                    <a href="{% url 'users:logout' %}" class="header-nav-button">Logout</a> {# Apply button class here #}
                {% else %}
                    <a href="{% url 'users:login' %}" class="header-nav-button">Login</a> {# Apply button class here #}
                    <a href="{% url 'users:signup' %}" class="header-nav-button header-signup-button">Sign Up</a> {# Apply button class here #}
                {% endif %}
            </div>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2025 Task Manager. All rights reserved.</p>
    </footer>
</body>
</html>